# Section 1: Case Study

Analyzing an affiliated credit card (special card only available to members of a specific group). Think of it like this -
the credit card company is like Citibank and the affiliated group is a company like Indian Oil or Barista. The
affiliated group has to pay some fees to credit card company (because the credit card company is providing this
service to the group)

**Product Details (Parameters) :**
- average card balance is Rs 1000
- each card has an interest rate of 15%
- membership fee is Rs 20 per card
- loss rate is 3% (NOTE: what are the interpretations of this ? state your assumption CLEARLY when
solving )
- Rs 25 operating cost per card
- Rs 10 affiliation fee per card (cost to the group organization itself, so that their members get this awesome
card program)
- 6.5% cost of funds (that credit card company must pay to the bank where it gets money)
- bill/statement is issued on 1st of every month
- credit-free period = 15 days from the bill/statement issue date.

**Assumptions:**

Consider 1000 customers for the above scenario, divide these 1000 customers into following groups(upon your assumption and understanding about the credit lending industry).

So in this particular scenario we are assuming:

1. 80 % of Customers who pay the bill within the credit-free period

2. 10% of Customers pay bills 30 days after the last due date

3. 8% of Customer pay bills 45 days after the last due date

4. Only 2% Customer paying 60 days after the last due date(remove these customers for the complete calculation of the next month,basically, you are not supposed to provide further credit services to these customers)

In [21]:
import pandas as pd

In [22]:
# Considering assumptions

# Average monthly card balance
card_balance = 1000

# Total Months a year
tot_months = 12

# Given total customers = 1000
total_customers = 1000

# Creating a data frame and creating categories of customers

data = pd.DataFrame({'categories' : ['pay_bill_ontime','pay_bill_30','pay_bill_45','pay_bill_60'], 'customers':[0.80* total_customers,0.1*total_customers,0.08*total_customers,0.02*total_customers]})
data['customers'] = data['customers'].astype('int')
data

        categories  customers
0  pay_bill_ontime        800
1      pay_bill_30        100
2      pay_bill_45         80
3      pay_bill_60         20

## Revenue for company (Each Year)

The company charges an interest rate of 15% on each card. Since interest rate is on the amount of loan it is difficult to calculate the exact revenue. 
However, they take membership fee charging Rs 20 per card. I am assuming they charge membership fee every month. 
They also take Rs 10 affiliation fee per card. I am assuming even for this they charge every month.

In [23]:
interest_rate = 0.15
membership_fee = 20*tot_months*total_customers
affiliate_fee = 10*tot_months*total_customers

## Expense for company (Each Year)
The company pays 6.5% costs of funds to banks from where it gets money from. They also have Rs 25 operating cost on each card. Finally their loss rate is 3%. I am assuming the 3% loss rate is the borrowers default on their entire balance.

In [24]:
cost_funds = tot_months*card_balance*total_customers*0.065/12
operating_cost = 25*tot_months*total_customers
loss_rate = 0.03
loss = loss_rate*card_balance*total_customers

Given conditions: 

1. The interest rate is simple interest.
2. Interest is calculated on a daily basis.
3. The average card balance is the average end of month balance.
4. All members are more than a year old.

In [25]:
# Calculating Interest of customers Based on their Categories
# # Billing cycle starts from 1st of every month. Assuming average day of transaction as 15th of billing cycle 

def cal_interest(category):
  avg_day = 15

  if category == data['categories'][0]:
    interest = 0

  elif category == data['categories'][1]:
    interest = (avg_day+15+30)*card_balance*interest_rate/365

  elif category == data['categories'][2]:
    interest = (avg_day+15+45)*card_balance*interest_rate/365

  elif category == data['categories'][3]:
    interest = (avg_day+15+60)*card_balance*interest_rate/365

  return interest

data['Estimated_Interest_on_Default']=data['categories'].apply(cal_interest).round(2)

In [26]:
# Calculating total interest rate

data['One_Year_Interest'] = tot_months*data['Estimated_Interest_on_Default']*data['customers']

In [27]:
data

,categories,customers,Estimated_Interest_on_Default,One_Year_Interest
0,pay_bill_ontime,800,0.00,0.0
1,pay_bill_30,100,24.66,29592.0
2,pay_bill_45,80,30.82,29587.2
3,pay_bill_60,20,36.99,8877.6

### Question 1: How much profit % is generated in 1 year?

In [28]:
import numpy as np

Revenue = membership_fee + affiliate_fee + np.sum(data['One_Year_Interest'])
Expenses = cost_funds + operating_cost + loss

print('Revenue of the company in 1 Year:',Revenue)
print('Expenses of company in 1 Year:',Expenses)

Revenue of the company in 1 Year: 428056.8
Expenses of company in 1 Year: 395000.0

In [29]:
profit = Revenue-Expenses
profit_percent = (profit/Expenses)*100
print(f'Profit % generated in 1 year is {profit_percent:.2f} %')

Profit % generated in 1 year is 8.37 %

### Question 2: If the average balance is increased to $2000, what happens to the loss?

Assumption: 3% loss rate of the borrowers
default on their entire balance.

In [30]:
# When the average balance is $1000, the loss due to loss rate is

Initial_loss = loss_rate*card_balance*total_customers
print('When the average balance is $1000, the loss due to loss rate is $',Initial_loss)

# When the average balanace is increased to 2000

new_card_balance = 2000
New_loss = loss_rate*new_card_balance*total_customers
print('When the average balanace is increased to 2000, the new loss due to loss rate is $',New_loss)

When the average balance is $1000, the loss due to loss rate is $ 30000.0
When the average balanace is increased to 2000, the new loss due to loss rate is $ 60000.0

We can see that when he increased the average balance from 1000 dollars to 2000 dollars, the loss due to loss rate has been doubled.

### Question 3: Is a borrower with a low balance more or less likely to default then a borrower with a high balance? Why?

Borrower with less balance will more likely to default then a borrower with a high balance as low balance could indicate scenarios of unstable low job or income. On the other hand, a borrower with high balance indicate that they have good job or business and their source of income is pretty stable. So people with stable income will less likely to default in comparison to the people with less stable income.

### Question 4: The group company has now become unhappy with the credit card provider. It wants to start its own credit card. But for that, it will need to purchase the customers from the current credit card company. If the affiliated group offered Rs 20 per account to purchase all the customers from the credit card company, what would their profit be? (assume that we are only talking about 1 year)

In [31]:
# Assuming all the handling expense would be same for the affiliated company as well, they would only incur an additional expense of buying the account of customers at Rs 20.

account_cost = 20*total_customers

aff_Revenue = membership_fee + affiliate_fee + np.sum(data['One_Year_Interest'])
aff_Expenses = cost_funds + operating_cost + loss + account_cost

print('Revenue of the company in 1 Year:',Revenue)
print('Expenses of company in 1 Year:',Expenses)

profit = aff_Revenue - aff_Expenses
profit_percent = (profit/Expenses)*100
print(f'Profit % generated in 1 year is {profit_percent:.2f} %')

Revenue of the company in 1 Year: 428056.8
Expenses of company in 1 Year: 395000.0
Profit % generated in 1 year is 3.31 %

### Question 5: What numbers can the financial institution change to convince the affiliated group not to want to purchase, while still not going into a loss? Give a range of what the new numbers are (min and max)

* The financial institution can change the percentage of defaulters and show it much higher so that the affiliated company might consider it a risky or hassle business.
* The credit company can also convince the affiliated organisation that their operating cost per card is much higher and the only reason they could afford it in such low rate is because they operate these cards in bulk.

### Question 6: What is the extra cost(if any) company will have to incur if the customer delays the payment of the credit card bill after the due date?

The company has to incur an extra cost 6.5% of the funds the credit card company has to pay to the bank.

### Question 7: Is it beneficial for the company if the customer pays the credit card bill after the due date? (express your views as a business strategy analyst with a short example)

Yes, even if the customers pay the credit bill after due date, company will still make a profit as delay is directly proportional to interest generated. So unless a customer defaults the situation is in favour of the company.